<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
 <head>
	<title>BodyNizer_MAIN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
	
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.9.2.custom.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/ready.js"></script>
    <script type="text/javascript" src="js/workshop.js"></script>

</head>
<body class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class="container-main col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 ">
        
            <!-- **START HEAD BLOCK** -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 head-block" id="head-block">
                
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left" id="head-block-left">
                    <h3 class="text-nowrap"><b id="test1">By Cloudletlabs</b><span id="test2"></span></h3>
                </div>
                
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 " id="head-block-right">
                    <a href="#" data-toggle="modal" data-target="#login-modal"><h4>LOGIN</h4></a>
                </div>   

                <div class="hidden-xs col-xl-1 col-sm-1 col-md-1 col-lg-1" id="rcc">    
                    <a href="#"><img class="img-rounded " src="images/rcc.gif" alt="rcc" /></a>
                </div>   

            </div>
            <!-- **END HEAD BLOCK** -->
        
           
			  
			 <!-- ****START MAIN SITE BLOCK**** -->
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-site-block">
			     
                 <!-- **START HEADER BLOCK** -->   
                 <div class="table-responsive">
                    <table class="table"><!--header table -->
                        <tbody>
                            <tr>
                                <td class="hidden-xs hidden-sm" rowspan="3" id="logo" align="left">
                                    <img class="img-responsive" src="images/logo.png" alt="logo" width="150vmax"/>
                                </td>
                                
                                <td class="hidden-xs" colspan="5">
                                    <span id="top-text">Welcome to BodyNizer!</span>
                                </td>

                                <td class="visible-xs" colspan="6" align="center">
                                    <span id="top-text-xs">Welcome to BodyNizer!</span>
                                </td>
                                
                                <td class="hidden-xs" id="language" align="center" colspan="2">
                                    <a href="#"><img class="img-rounded" id="eng" src="images/flag_eng.ico" alt="eng" width="35vmax" /></a>
                                    <a href="#"><img  id="rus" src="images/flag_rus.ico" alt="rus" width="35vmax"/></a>
                                </td>
                            </tr>

                            <tr>
                                <td class="hidden-xs hidden-s000" colspan="6" align="center">
                                    <span class="text-nowrap" id="mid-text">Your personal trainer, advisor and achievements keeper in your hands.</span>                        
                                </td>
                        
                            </tr>

                            <tr>
                                <td class="hidden-xs hidden-s00" colspan="6" align="right">
                                    <span  id="btm-text">Horizons now are getting closer...</span>
                                </td>
                            </tr>

                            
                            <tr id="btn-store">
                                <td class="hidden-xs" colspan="8" align="right">
                                    <a href="#"><img  id="googleplay"src="images/googleplay.png" alt="Google_Play"/></a>
                                    <a href="#"><img  id="appstore"src="images/appstore.png" alt="App_Store"/></a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                 </div>
                 <!-- **END HEADER BLOCK** -->  

                 
                 <!-- **START MENU BLOCK** -->
                 <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menu-main-block">
                         
                             <table class="">
                                <tr>
                                    <td>
                                         <ul class="" >
										     <li><a class="btn btn-default home-menu-btn" id="home-menu-btn" href="#">HOME</a></li>
                                             <li><a class="btn btn-default blog-menu-btn" id="blog-menu-btn" href="#">BLOG</a></li>
                                             <li><a class="btn btn-default" href="#" id="support-menu-btn">SUPPORT</a></li>
                                             <li><a class="btn btn-default" href="#">SHOP</a></li>
                                             <li><a class="btn btn-default" href="#">CONTACT US</a></li>
                                             <li><a class="btn btn-default" href="#" id="help-menu-btn">HELP</a></li>
                                         </ul>
                                    </td>
                                </tr>
                             </table>
                         
                     </div>
                 </div>
                 <!-- **END MENU BLOCK** -->
                

                <!-- **START SEARCH BLOCK** -->
                 <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-main-block">
                        
                        <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12  search-block ">
						  <li  id="search-btn" ><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>         
                            <li class="" id="search-text"><input class="" type="text" placeholder="Hello" value="" /></li>
                        </ul>
                        
                        <br/>
                        
                        <div id="close-search" hidden="true" style="float: left;" >
                            <button type="button" class="btn btn-success btn-lg login-text">CLOSE SEARCH</button>
                        </div>
                    </div>
                 </div>
                 <!-- **END SEARCH BLOCK** -->


			     <!-- **START CONTENT BLOCK** -->
			    <div class="content-main col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				  

                  <div class="row dynamic home-page">
				  
					
				    <!-- *1 Row* -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center content-row">
                      <!-- left -->
                      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-row-left-block">  

                        <a href="#"><img  class="video-img" id="" src="images/video_01.gif" alt=""/></a>

                        <div class="hidden-xs col-md-12 col-lg-12 video-play-text text-center">
                          <a href="#"><span>Tutorial Video</span></a>
                        </div>

                      </div>
					  
					  <!-- right -->
					  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-lg-offset-1 col-md-offset-1 content-row-right-block">
						<h3> > What the BodyNiser is?</h3>
						<p class="text-left"> 
						  The BodyNiser is an application developed for iOS or Android  systems,  which  contains  many  useful 
						  functions, intended to become your personal assistant in your sport trainings, exercises, progress records 
						  keeping, new friends meetings and many many more... 
						</p>
						<p class="text-left"> 
						  To get more valuable information , please view the tutorial video about the BodyNizer.
						</p>
					  </div>
					  
					</div>
					<!-- *end 1 Row* -->
					
					  
					<!-- *2 Row* -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center content-row">
					  <!-- left -->
					  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-row-left-block">  

						<a href="#"><img  class="video-img" id="" src="images/video_02.gif" alt=""/></a>

						<div class="hidden-xs hidden-s col-md-12 col-lg-12 video-play-text text-center">
						  <a href="#"><span>Our Users</span></a>
						</div>

					  </div>

					  <!-- right -->
					  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 content-row-right-block">
						<h3> > Who can use the BodyNiser?</h3>
						<p class="text-left"> 
						   The BodyNiser is successfully used by many peoples around the World, who go in for sport, fitness and bodybuilding trainings and wish to have own small but powerful assistant like BodyNizer for each day to improve  self  achievements  and  attain  the  new horizons together.
						</p>
						<p class="text-left"> 
						  This is a good time for join us!
						</p>
					  </div>

					</div>
					<!-- *end 2 Row* -->
					
					  
					<!-- *3 Row* -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center content-row">
					  <!-- left -->
					  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-row-left-block">  

						<a href="#"><img  class="video-img" id="" src="images/video_03.gif" alt=""/></a>

						<div class="hidden-xs hidden-s col-md-12 col-lg-12 video-play-text text-center">
						  <a href="#"><span>Benefits from BodyNizer</span></a>
						</div>

					  </div>

					  <!-- right -->
					  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 content-row-right-block">
						<h3 class=""> > What benefits can I get from BodyNiser?</h3>
						<p class="text-left"> 
						   As we mentioned before, BodyNizer contains a lot of useful functions collected in one application, most valuable are:
                            <br />- Big number of  programs for different types of trainings.
                            <br />- Recordind your progress, showing your statistic of trainings  and advise how to make your trainings more effectively.
                            <br />- If you are an advanced sportsmen, you can create your own training programs in the Builder and sale it on the Market.
						</p>
						<p class="text-left"> 
						  The list is much  longer, but better try the BodyNizer yourself, to make all of this benefits yours!
						</p>
					  </div>

					</div>
					<!-- *end 3 Row* -->
					
					  
					<!-- *4 Row* -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center content-row">
                      <!-- left -->
                      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-row-left-block">  

                        <a href="#"><img  class="video-img" id="" src="images/video_04.gif" alt=""/></a>

                        <div class="hidden-xs hidden-s col-md-12 col-lg-12 video-play-text text-center">
						  <a href="#"><span>Our Developers</span></a>
						</div>

					  </div>

					  <!-- right -->
					  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 content-row-right-block">
						<h3> > The BodyNiser development team</h3>
						<p class="text-left"> 
						  The BodyNizer is constantly improving by our development team,  we  work daily  to  refine  the  application functions, to make  them  more  useful  and  handy  for  you.
						</p>
						<p class="text-left"> 
						   Receiving a lot of feedbacks from our users, we are trying to apply new ideas and innovations, inbreathe them into BodyNizer, together with you reach new achievements and horizons, which now are getting really closer...
						</p>
					  </div>

					</div>
					<!-- *end 4 Row* -->
					  
					  
					  
					  
					  
					<!-- *1 Row test* -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center content-row default-hidden" hidden="true">
                      <!-- left -->
                      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-row-left-block">  

                        <a href="#"><img  class="video-img" id="" src="images/video_01.gif" alt=""/></a>

                        <div class="hidden-xs col-md-12 col-lg-12 video-play-text text-center">
                          <a href="#"><span>Tutorial Video</span></a>
                        </div>

                      </div>

					  <!-- right -->
					  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-lg-offset-1 col-md-offset-1 content-row-right-block">
						<h3> > What the BodyNiser is?</h3>
						<p class="text-left"> 
						  test The BodyNiser is an application developed for iOS or Android  systems,  which  contains  many  useful 
						  functions, intended to become your personal assistant in your sport trainings, exercises, progress records 
						  keeping, new friends meetings and many many more... 
						</p>
						<p class="text-left"> 
						  To get more valuable information , please view the tutorial video about the BodyNizer.
						</p>
					  </div>

					</div>
					<!-- *end 1 Row Test* -->
					
				  </div><!-- row dynamic home-page -->
				    




                  <!-- row dynamic TEST blog-page -->
                    <div class="row dynamic blog-page">
                  
                    
                    <!-- *1 Row* -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center content-row">
                      <!-- left -->
                      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-row-left-block">  

                        <a href="#"><img  class="video-img" id="" src="images/video_04.gif" alt=""/></a>

                        <div class="hidden-xs col-md-12 col-lg-12 video-play-text text-center">
                          <a href="#"><span>Tutorial Video</span></a>
                        </div>

                      </div>
                      
                      <!-- right -->
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-lg-offset-1 col-md-offset-1 content-row-right-block">
                        <h3> > BLOG TEST?</h3>
                        <p class="text-left"> 
                          The BodyNiser is an application developed for iOS or Android  systems,  which  contains  many  useful 
                          functions, intended to become your personal assistant in your sport trainings, exercises, progress records 
                          keeping, new friends meetings and many many more... 
                        </p>
                        <p class="text-left"> 
                          To get more valuable information , please view the tutorial video about the BodyNizer.
                        </p>
                      </div>
                      
                    </div>
                    <!-- *end 1 Row* -->
                    
                      
                    <!-- *2 Row* -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center content-row">
                      <!-- left -->
                      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-row-left-block">  

                        <a href="#"><img  class="video-img" id="" src="images/video_03.gif" alt=""/></a>

                        <div class="hidden-xs hidden-s col-md-12 col-lg-12 video-play-text text-center">
                          <a href="#"><span>Our Users</span></a>
                        </div>

                      </div>

                      <!-- right -->
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 content-row-right-block">
                        <h3> >BLOG TEST?</h3>
                        <p class="text-left"> 
                           anchor The BodyNiser is successfully used by many peoples around the World, who go in for sport, fitness and bodybuilding trainings and wish to have own small but powerful assistant like BodyNizer for each day to improve  self  achievements  and  attain  the  new horizons together.
                        </p>
                        <p class="text-left"> 
                          This is a good time for join us!
                        </p>
                      </div>

                    </div>
                    <!-- *end 2 Row* -->

                    </div><!-- end row dynamic TEST blog-page -->





                </div><!-- content-main -->
			    <!-- **END CONTENT BLOCK** -->
            
				   
			    <!-- **START SOCIAL NETS BLOCK** -->
               <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center main-socialNets-block">

                         <ul class="text-center" >
                           <li><a href="#"><img  src="images/01_fb.gif"/></a></li>
                           <li><a href="#"><img  src="images/02_inst.gif"/></a></li>
                           <li><a href="#"><img  src="images/03_vk.gif"/></a></li>
                           <li><a href="#"><img  src="images/04_tv.gif"/></a></li>
                           <li><a href="#"><img  src="images/05_ggl.gif"/></a></li>
                           <li><a href="#"><img  src="images/06_ytb.gif"/></a></li>
                         </ul>
                       
                 </div>
               </div>
               <!-- **END SOCIAL NETS BLOCK** -->
				  
				 
				 
			   <!-- **START FOOTER BLOCK** -->
			   <div class="row">
				 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-footer-block">
				 
				   <div class="hidden-xs hidden-sm col-md-6 col-lg-4 text-left footer-left-block">
					 <span class="text-nowrap">Cloudletlabs &copy; 2016. All Rights Reserved.</span>
				   </div>
				   
                   <div class="visible-xs visible-sm text-center footer-left-block">
                     <span class="text-nowrap">Cloudletlabs &copy; 2016. All Rights Reserved.</span>
                   </div>

				   <div class="hidden-xs hidden-sm col-md-6 col-lg-8 footer-right-block">
					 
					 <ul class="text-right" >
					   <li><a class="home-menu-btn" href="#">Home</a></li>
					   <li><a class="blog-menu-btn" href="#">Blog</a></li>
					   <li><a href="#">Support</a></li>
					   <li><a href="#">Shop</a></li>
					   <li><a href="#">Contact Us</a></li>
					   <li><a href="#">Help</a></li>
					 </ul>
					 
				   </div>
				 
			     </div>
			   </div> 
			   <!-- **END FOOTER BLOCK** -->
				  
				  
			   <!-- !!*START DYNAMIC MODAL-LOGIN BLOCK*!! -->
			   <div class="row dynamic modal-login modal fade" id="login-modal">
				 <div class="modal-dialog modal-lg">
				   <div class="modal-content">
					 
					 <div class="modal-header">
					   <button class="close" type="button" data-dismiss="modal">x</button>
					   <h2 class="modal-title login-text">Login or Register</h2>
					 </div>
				        
					   <!-- *Login-block-content* -->
					   <div class="modal-body main-modal-login-content-block">
						 <form role="form" class="form-inlie">
						   <div class="form-group">
							 <label for="email" class="login-text">Email</label>
							 <input type="email" class="form-control" id="email" placeholder="Enter your email" />
						   </div>
						   <div class="form-group">
							 <label for="pass" class="login-text">Password</label>
							 <input type="password" class="form-control" id="pass" placeholder="Enter your password" />
						   <br />
							   <a href="#" class="login-text" style="float:;">forgot password?</a>
						   </div>
						   <div class="checkbox">
							 <label class="login-text">
							   <input type="checkbox" class="login-text"/>Remember Me
							 </label>
						   </div>
						   <button type="submit" class="btn btn-success text-uppercase login-text">Enter</button>
						 </form>
					   </div>
					 <!-- *End Login-block-content* -->



                     <!-- *Register-block-content* -->
                       <div class="modal-body main-modal-register-content-block" hidden="true">
                         <form role="form" class="form-inlie">
                           <div class="form-group">
                             <label for="name" class="login-text">Name</label>
                             <input type="text" class="form-control" id="text" placeholder="Enter your name/nickname" />
                           </div>
						   <div class="form-group">
                             <label for="email" class="login-text">Email</label>
                             <input type="email" class="form-control" id="email" placeholder="Enter your email" />
                           </div>
                           <div class="form-group">
                             <label for="pass" class="login-text">Password</label>
                             <input type="password" class="form-control" id="pass" placeholder="Enter your password" />
                           </div>
						   <div class="form-group">
                             <label for="pass" class="login-text">Confirm your pasword</label>
                             <input type="password" class="form-control input-warning" id="pass" placeholder="Confirm password" />
                           </div>
						   <div class="checkbox">
							 <label class="login-text">
							   <input type="checkbox" class="login-text"/>Subscribe me for BodyNizer news
							 </label>
						   </div>
						   <div class="form-group">
                             <label for="file" class="login-text">upload avatar</label>
                             <input type="file" class="form-control input-warning" id="file" />
                           </div>
                           <button type="submit" class="btn btn-success login-text">REGISTER</button>
                           
                             
                             <a href="#" class="login-text btn btn-info text-center" id="back" style="float:; margin: 0 2% 0"> Go back </a>
                         </form>
                       </div>
                     <!-- *End Register-block-content* -->
					
					 <div class="modal-footer">
					   <button class="btn btn-danger text-uppercase login-text" type="button" data-dismiss="modal">close</button>
                       <a href="#" class="login-text text-uppercase" id="go_register" style="float:left; color:red">not yet registred?</a>
					 </div>















					 
				  </div>
				 </div>
			   </div>
			   <!-- !!*END DYNAMIC MODAL LOGIN BLOCK*!! -->
				   
			 </div> 
             <!-- ****END MAIN SITE BLOCK**** -->
     </div>









</body>


</html>
